body{
  font-family: 'Revalia', cursive;
  background-color: #ccc;
  text-align: center;
}

.todos{
  text-align: justify;
  margin-left: 30%;
}

.completeTodos{
  text-align: justify;
  margin-left: 30%;
}

.left-button{
  margin-left: 5%;
}

.middle-button{
  margin-left: 5px;
  margin-right: 5px;
}
