body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
.todoMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}
.todoMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0366FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
