.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: royalblue;
}

h1 {
  text-align: center;
  background: black;
  color: white;
  padding: 20px 0;
  margin: 0;
}

.todo-list {
  width: 300px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}

h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid black;
  margin: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}
.todo div:first-child {
  width: 50%;
}
h3 {
  margin: 0;
}

p {
  margin: 0;
}
